<%- include('./partials/header') %>

<p>
	<strong>TICKET NUMBERS BOOKED</strong>
</p>

<% ticket_array.forEach(function(ticket){ %>
		<p>
			<%=ticket%>
		</p>
			
<% }); %>

<%- include('./partials/footer') %>
