<html>
<head>
	<title>credit</title>
</head>

<body>
	Enter Credit Card Number <br>
	<input type="text" maxlength="16" type="number"><br><br>
	Enter Expiry Date of Card <br>
	<select name="month" id="month">
		<option value="01">01</option>
		<option value="02">02</option>
		<option value="03">03</option>
		<option value="04">04</option>
		<option value="05">05</option>
		<option value="06">06</option>
		<option value="07">07</option>
		<option value="08">08</option>
		<option value="09">09</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
	</select>
	<select name="year" id="year">
		<option value="2020">2020</option>
		<option value="2021">2021</option>
		<option value="2022">2022</option>
		<option value="2023">2023</option>
		<option value="2024">2024</option>
	</select><br><br>
	Enter CVV/CVC <br>
	<input type="password" maxlength="3" type="number"><br><br>
	Enter Cardholder's Name <br>
	<input type="text"> <br><br>
	<a href="payment.ejs"><button id="back">Back</button>
	</a>
	
		<a href="otp.ejs">
		<button id="next">Next</button>
	</a>

</body>
</html>
