<h3>
<p>
	Review your journey details<br>
	</p>
	</h3>
<h4>
<p>
	BUS NAME : <strong> <%=rest[0].bus_name1%></strong>
	</p>
	<p>
	FROM : <strong> <%=rest[0].start_route1%></strong>	
	</p>
	<p>
	TO : <strong> <%=rest[0].end_route1%></strong>
	</p>
	<p>
	NO. OF TICKETS: <strong><%=rest[0].no_of_ppl1%></strong>
	</p>
<a href="payment">
<button>
	Submit
</button>
