<html>
<head>
<title>Fetch Details</title>
</head>
<body><h3>
	Review your journey details<br></h3>
		<h4><p id="display"></p>
		<script>
		var bus_name1 ,start_route1,end_route1,no_of_ppl;
        document.getElementById("display").innerHTML="Bus Number: "+bus_name1+"<br>Source: "+start_route1+"<br>Destination: "+end_route1+"<br>Number Of Tickets: "+no_of_ppl1;
	</script>
</h4>
<a href="payment.ejs">
<button>Next</button>
</a>
</body>
</html>
