<html>
<head>
	<title>googlepay</title>
</head>
<body>
	Enter UPI ID:<br>
	<input type="text"><br><br>
	Enter UPI Pin:<br>
	<input type="password" maxlength="4"><br><br>
<a href="success.ejs"><button>Submit</button></a>
</body>
</html>
