<!DOCTYPE HTML>
<html>
    <head>
        <title>BUS</title>
        <link rel = "stylesheet" href = "/style.css">
    </head>
<body>
<div class="alert alert-danger" role="alert">
	<%=message%>
</div><body>
<div class = "login-box">
<h1>Login</h1>
 
<form action="/login" method="POST">
	<div class = "textbox">
		<i class="fa fa-user icon"></i> 
	<input type="text" name="username" placeholder="username">
	</div>
	<div class = "textbox">
		<i class="fa fa-key icon"> </i> 
	<input type="password" name="password" placeholder="password">
	</div>
	<button class="btn">Submit</button>
</form>
</div>
</body>
</html>