<%- include('./partials/header') %>

<div class = "login-box">
<h1>Login</h1>
 
<form action="/login" method="POST">
	<div class = "textbox">
		<i class="fa fa-user icon"></i> 
	<input type="text" name="username" placeholder="username">
	</div>
	<div class = "textbox">
		<i class="fa fa-key icon"> </i> 
	<input type="password" name="password" placeholder="password">
	</div>
	<button class="btn">Submit</button>
	<div class="login-box">
		
		<h4>Don't have an account?</h4>
	</div>  
	<a class="login-box" href="/register">Sign Up</a>
</form>
</div>

<%- include('./partials/footer') %>