<!doctype html>
<head>
	<title>otp</title>
</head>
<body>
	<h3>Enter OTP sent to your registered mobile number:<br><br>
		<input type="password" placeholder="Enter OTP" maxlength="6"></h3>
		<br>
		
		<a href="success.ejs">
			<button>Submit</button></a>

</body>
</html>
