<html>
<head>
	<title>website</title>
</head>
<body>
	Total amount to be paid:
	<p id="disp"></p>
	<script>
	var amount,n;
	n=3;
	amount=Math.floor((Math.random()*15)+5);
	amount=no_of_ppl1*amount;
	document.getElementById("disp").innerHTML=amount;
	</script>
	<h2>Select payment methods </h2> 
	<h3>

<a href="credit.ejs">
	<button>Credit Card</button> 
</a><br><br>
<a href="credit.ejs"><button>Debit card</button>
</a><br><br>
<a href="googlepay.ejs">
<button>GooglePay</button>
</a><br><br>
<a href="googlepay.ejs">
<button>PhonePe</button>
</a><br><br>
<a href="googlepay.ejs">
<button>Paytm</button>
</a><br><br>
</h3>
</body>
</html>
