<h4><p>
	Total amount to be paid:
</p></h4>
	<h2>Select payment methods </h2> 
	<h3>
<a href="credit">
	<button>Credit Card</button> 
</a><br><br>
<a href="credit"><button>Debit card</button>
</a><br><br>
<a href="googlepay">
<button>GooglePay</button>
</a><br><br>
<a href="googlepay">
<button>PhonePe</button>
</a><br><br>
<a href="googlepay">
<button>Paytm</button>
</a><br><br>
</h3>
