<%- include('./partials/header') %>

<div class = "login-box">
<h1>
	Sign up!
</h1>

<form action="/register" method="post">
	<div class = "textbox">
		<i class="fa fa-user icon"></i> 
	<input type="text" name="username" placeholder="username">
</div>
<div class = "textbox">
	<i class="fa fa-key icon"> </i> 
	<input type="password" name="password" placeholder="password">
	</div>
	<button class="btn">Sign Up</button>
	<div class="login-box">
		
		<h4>Already have an account?</h4>
	</div>  
	<a class="login-box" href="/login">Login</a>
 </form>
</div>

<%- include('./partials/footer') %>