<%- include('./partials/header') %>

<<<<<<< HEAD
<div class = "login-box">
<h1>
	Sign up!
</h1>
=======
>>>>>>> 407953cd2d16129516996591abe622763d699d06

	<div class="login-box">
	<h1>
		Sign Up
	</h1>
	</div>
	<div class="login-box">
	<form action="/register" method="post">
	
		<div class="textbox">	
			<i class="fas fa-user"></i>
			<input type="text" name="username" placeholder="Username">
		</div>
		<div class="textbox">
			<i class="fas fa-lock"></i>
			<input type="password" name="password" placeholder="Password">
		</div>
	
		<input class="btn1" type="submit" value="Sign Up!">
	</form>
	</div>
	<div class="login-box">
		
		<h4>Already have an account?</h4>
	</div>  
	<a class="login-box" href="/login">Login</a>
 </form>
</div>

<%- include('./partials/footer') %>
