<%- include('./partials/header') %>

<div class = "login-box">
<h1>
	Sign up!
</h1>


<%- include("partials/header") %>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" href="style.css" />
	
	
	<div class="login-box">
	<h1>
		Sign Up
	</h1>
	</div>
	<div class="login-box">
	<form action="/register" method="post">
	
		<div class="textbox">	
			<i class="fas fa-user"></i>
			<input type="text" name="username" placeholder="Username">
		</div>
		<div class="textbox">
			<i class="fas fa-lock"></i>
			<input type="password" name="password" placeholder="Password">
		</div>
	
		<input class="btn1" type="submit" value="Sign Up!">
	</form>
	</div>
	<div class="login-box">
		
		<h4>Already have an account?</h4>
	</div>  
	<a class="login-box" href="/login">Login</a>
<<<<<<< HEAD
	
	
	<%- include("partials/footer") %>
=======
 </form>
</div>

<%- include('./partials/footer') %>
>>>>>>> 778d2e0f65bd6ea6d37abb43766aa25fc27f64f3
