<html>
<head>
	<title>website</title>
</head>
<link rel="stylesheet" type="text/css" href="style.css">
<body>
	Total amount to be paid:
	<p id="disp"></p>
	<script>
	var amount,n;
	n=3;
	amount=Math.floor((Math.random()*15)+5);
	amount=n*amount;
	document.getElementById("disp").innerHTML=amount;
	</script>
	<h2>Select payment methods </h2> 
	<h3>

<a href="credit.html">
	<button>Credit Card</button> 
</a><br><br>
<a href="debit.html"><button>Debit card</button>
</a><br><br>
<a href="googlepay.html">
<button>GooglePay</button>
</a><br><br>
<a href="googlepay.html">
<button>PhonePe</button>
</a><br><br>
<a href="googlepay.html">
<button>Paytm</button>
</a><br><br>
</h3>
</body>
</html>